.Login__form {
    display: flex;
    width: 30vw;
    background-color: rgb(224, 220, 220);
    margin-bottom: 15px;
}
.Login__form .MuiSvgIcon-root {
    font-size: 30px !important;
    padding: 10px 5px;
}
.Login__form input {
    flex: 1;
    padding: 0px 10px;
    background: transparent;
    border: none;
    outline-width: 0;
}
#signUp__btn {
    padding: 10px 55px;
    color: white;
    background: rgb(10, 46, 99);
    font-size: 20px;
    outline-width: 0;
}