.Product__details {
    display: flex;
    width: 90vw;
    height: 100vh;
    justify-content: center;
    flex: 1;
    padding: 20px;
}
.Product__details__main, .Product__description, .Product__details__submain, .product__details__size{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
}

.Product__details img{
    height: 90vh;
    object-fit: contain;
}